html,body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
  }
.about{
    height: 100%;
    background-image: url(../images/a2.jpg);
    background-size: cover;
    height: 700px;
}
.aboutheader{
  padding-top: 20px;
  text-align: center;
  padding-bottom: 30px; 
}

.aboutimg1{
  float: left;
  width: 40%;
  height: 80px;
  /* border: 2px solid black; */
}
.aboutimg1 > img {
  width: 60%;
  margin-left: 150px;
  border-radius: 20px;
}
.aboutcontent {
  float: left;
  width: 40%;
  padding-left: 40px;
}
.aboutmore{
  float: left;
  width: 40%;
  padding-left: 100px;
  padding-top: 30px;
  /* border: 2px solid black; */
}
.aboutmore > p > a {
  border: 0px solid #fff;
}
.aboutimg2{
  float: left;
  width: 45%;
  height: 80px;
  padding-top: 50px;
}
.aboutimg2 > img {
  width: 55%;
  margin-left: 80px;
  border-radius: 20px;
}