.home{
    background-image: url(../images/a1.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 20%;
    height: 100%;
}
.home > .text{
    font-size: 43px;
}
.home > .small{
    font-size: 23px;
    margin-bottom: 5%;
}
.sp1{
    font-weight: 800; 
}
.sp1:hover {
    text-shadow: 1px 1px 5px rgb(212, 22, 95);
    font-size: 45px;
}
.sp2{
    padding: 0 10px;
    color: #949092;
}
.sp2:hover {
    text-shadow: 1px 1px 5px rgb(212, 22, 95);
    font-size: 20px;
}
.home > a {
    border: 5px solid rgb(212, 22, 95);
    font-size: 30px;
    background: rgb(212, 22, 95);
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600; 
    cursor: pointer;
    text-decoration: none;
}
.b1:hover {
    border: 5px solid #fff;
    font-size: 32px;
    background: #fff;
    color: rgb(212, 22, 95);
    border-radius: 20px;
    font-weight: 600; 
    padding: 8px;
}