.skills{
    height: 100%;
    background-image: url(../images/a2.jpg);
    background-size: cover;
}
.skillsheader{
    padding-top: 3%;
    text-align: center;
}
.skillsheader > h1{
    font-size: 40px;
    font-weight: 800;
}
.skillsheader > p{
    font-size: 14px;
}
.frontend {
    /* float: left; */
    width: 93%;
    height: 350px;
    /* margin-left: -30px; */
    margin-top: 20%;
    background: #fff;
    box-shadow: 2px 2px 15px rgb(32, 28, 29);
    /* border: 2px solid black; */
  }
  .frontend > .img1{
    /* float: left; */
    width: 10%;
    margin-left: 130px;
  }
  .frontend > .img1 > img {
    width: 300%;
    margin-top: -150%;
  }
  .frontend > .img2{
    /* float: left; */
    width: 9%;
    margin-left: 120px;
  }
  .frontend > .img2 > img {
    width: 400%;
    margin-top: -150%;
  }
  .frontend > .img3{
    /* float: left; */
    width: 10%;
    margin-left: 130px;
  }
  .frontend > .img3 > img {
    width: 300%;
    margin-top: -150%;
  }
  .frontend > .content {
    margin-top: 25%;
    /* border: 2px solid black; */
  }
  .frontend > .content > .skill1 {
    /* border: 2px solid black; */
    color: #000;
  }
  .frontend > .content > .skill1 > img {
    width: 10%;
    /* border: 2px solid black; */
    margin-left: 50px;
    float: left;
  }
  .frontend > .content > .skill1 > p {
    /* border: 2px solid black; */
    width: 60%;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
  }
  .frontend > .content > .skill2 {
    /* border: 2px solid black; */
    color: #000;
  }
  .frontend > .content > .skill2 > img {
    width: 10%;
    /* border: 2px solid black; */
    margin-left: 50px;
    float: left;
  }
  .frontend > .content > .skill2 > p {
    /* border: 2px solid black; */
    width: 60%;
    float: left;
    margin-left: 20px;
  }
  .frontend > .content > .skill3 {
    /* border: 2px solid black; */
    color: #000;
  }
  .frontend > .content > .skill3 > img {
    width: 10%;
    /* border: 2px solid black; */
    margin-left: 50px;
    float: left;
  }
  .frontend > .content > .skill3 > p {
    /* border: 2px solid black; */
    width: 60%;
    float: left;
    margin-left: 20px;
  }
  .frontend > .content > .skill4 {
    /* border: 2px solid black; */
    color: #000;
  }
  .frontend > .content > .skill4 > img {
    width: 10%;
    /* border: 2px solid black; */
    margin-left: 50px;
    float: left;
  }
  .frontend > .content > .skill4 > p {
    /* border: 2px solid black; */
    width: 60%;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
  }